<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yizhipin.goods">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".ui.activity.ComplainActivity"/>
        <activity android:name=".ui.activity.CollectActivity"/>
        <activity android:name=".ui.activity.SearchActivity"/>
        <activity android:name=".ui.activity.SearchGoodsActivity"/>
        <activity android:name=".ui.activity.UserActivity"/>
        <activity android:name=".ui.activity.ShareBillListActivity"/>
        <activity android:name=".ui.activity.DressShopActivity"/>
        <activity android:name=".ui.activity.DressListActivity"/>
        <activity android:name=".ui.activity.DressDetailActivity"/>
        <activity android:name=".ui.activity.SetMealActivity"/>
        <activity android:name=".ui.activity.SetMealDetailActivity"/>
        <activity android:name=".ui.activity.BasicServicesListActivity"/>
        <activity android:name=".ui.activity.MealOrderConfirmActivity"/>
        <activity android:name=".ui.activity.CloudDiskActivity"/>
        <activity android:name=".ui.activity.CloudDiskImageActivity"/>
        <activity android:name=".ui.activity.TimeSuperMarketActivity"/>
        <activity android:name=".ui.activity.TimeSuperMarketDetailActivity"/>
        <activity android:name=".ui.activity.IntegralActivity"/>
        <activity android:name=".ui.activity.IntegralDetailActivity"/>
        <activity android:name=".ui.activity.CameramanActivity"/>
        <activity android:name=".ui.activity.CameramanDetailActivity"/>
        <activity android:name=".ui.activity.StarActivity"/>
        <activity android:name=".ui.activity.BrideInfoActivity"/>
    </application>
</manifest>
