<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yizhipin.usercenter">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:exported="true">
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.ResetPwdActivity"/>
        <activity android:name=".ui.activity.UserInfoActivity"/>
        <activity android:name=".ui.activity.CommissionerApplyActivity"/>
        <activity android:name=".ui.activity.WalletActivity"/>
        <activity android:name=".ui.activity.PayPwdSetActivity"/>
        <activity android:name=".ui.activity.PayPwdUpdateActivity"/>
        <activity android:name=".ui.activity.PayPwdResetActivity"/>
        <activity android:name=".ui.activity.IntegralActivity"/>
        <activity android:name=".ui.activity.InvitationActivity"/>
        <activity android:name=".ui.activity.RelevanceUserActivity"/>
        <activity android:name=".ui.activity.RelevanceAddActivity"/>
        <activity android:name=".ui.activity.InvitationAddActivity"/>
        <activity android:name=".ui.activity.ComplainActivity"/>
        <activity android:name=".ui.activity.ShareActivity"/>

    </application>
</manifest>